<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EOS PREMIER BANK</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link href="../../images/logo.jpg" rel="icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="../../css/register.css" />
  </head>
  <body data-type="admin">
    <div class="form_wrapper">
      <div class="form_container">
        <div class="title_container">
          <h2>Recover My Password!</h2>
        </div>
        <div class="row clearfix">
          <div class="">
            <form
              id="forgetPasswordForm"
              data-url="/auth/admin/forgetPasswordPost"
              method="post"
            >
              <div class="input_field">
                <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                <input type="text" name="email" placeholder="email" />
                <div id="emailError" class="error"></div>
              </div>

              <input
                id="submitButton"
                class="button"
                type="submit"
                value="Submit"
              />
              <div class="pw-forgot">
                <a href="/auth/user/login">Oh Remembered!</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById('forgetPasswordForm')
        .addEventListener('submit', async (event) => {
          event.preventDefault();

          const email = document.getElementsByName('email')[0].value;

          try {
            const response = await fetch('/auth/user/forgetPasswordPost', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify({ email }), // Pass the email in the request body
            });

            const responseData = await response.json();

            if (response.ok) {
              const successMessage = encodeURIComponent(responseData.message);
              window.location.href = `/auth/user/login?successMessage=${successMessage}`;
            } else {
              alert(responseData.message || 'An error occurred.');
            }
          } catch (error) {
            console.error('Error:', error);
            alert('An error occurred. Please try again later.');
          }
        });

      function displayMessage(message, type) {
        const messageElement = document.getElementById('message');
        messageElement.textContent = message;
        messageElement.className = type;
      }
    </script>

    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/jquery-ui.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/jquery.countdown.min.js"></script>
    <script src="../../js/jquery.easing.1.3.js"></script>
    <script src="../../js/aos.js"></script>
    <script src="../../js/jquery.fancybox.min.js"></script>
    <script src="../../js/jquery.sticky.js"></script>
    <script src="../../js/isotope.pkgd.min.js"></script>

    <script src="../../js/main.js"></script>
    <script src="../../mail/register.js"></script>
    <script src="../../mail/adminLogin.js"></script>
  </body>
</html>
