<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EOS PREMIER BANK</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta content="EOS Premier Bank" name="keywords">
    <meta content="EOS Premier Bank" name="description">

    <!-- Favicon -->
    <link href="images/logo.jpg" rel="icon" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="fonts/icomoon/style.css" />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />

    <link rel="stylesheet" href="css/jquery.fancybox.min.css" />

    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="css/aos.css" />

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="site-wrap">
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>

      <%- include (`partials/header`); -%>

      <div
        class="site-blocks-cover overlay"
        style="background-image: url(images/hero_2.jpg)"
        data-aos="fade"
        id="home-section"
      >
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-10 mt-lg-5 text-center">
              <div class="single-text owl-carousel">
                <div class="slide">
                  <h1 class="text-uppercase" data-aos="fade-up">
                    Comprehensive Banking Solutions
                  </h1>
                  <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">
                    Discover our innovative banking solutions designed to
                    simplify your financial management. From secure online
                    banking to seamless mobile apps, we provide tools that make
                    managing your finances easier than ever.
                  </p>
                  <div data-aos="fade-up" data-aos-delay="100">
                    <a
                      href="#"
                      target="_blank"
                      class="btn btn-primary mr-2 mb-2"
                      >Get In Touch</a
                    >
                  </div>
                </div>

                <div class="slide">
                  <h1 class="text-uppercase" data-aos="fade-up">
                    Flexible Financing Solutions
                  </h1>
                  <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">
                    Explore our range of financing options tailored to meet your
                    personal and business needs. Whether you’re looking to
                    expand, invest, or consolidate debt, we offer competitive
                    rates and flexible terms to help you achieve your goals.
                  </p>
                  <div data-aos="fade-up" data-aos-delay="100">
                    <a
                      href="#"
                      target="_blank"
                      class="btn btn-primary mr-2 mb-2"
                      >Get In Touch</a
                    >
                  </div>
                </div>

                <div class="slide">
                  <h1 class="text-uppercase" data-aos="fade-up">
                    High-Yield Savings Accounts
                  </h1>
                  <p class="mb-5 desc" data-aos="fade-up" data-aos-delay="100">
                    Secure your future with our high-yield savings accounts.
                    Enjoy competitive interest rates and flexible terms that
                    maximize your savings potential, helping you grow your
                    wealth with confidence.
                  </p>
                  <div data-aos="fade-up" data-aos-delay="100">
                    <a
                      href="#"
                      target="_blank"
                      class="btn btn-primary mr-2 mb-2"
                      >Get In Touch</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <a href="#next" class="mouse smoothscroll">
          <span class="mouse-icon">
            <span class="mouse-wheel"></span>
          </span>
        </a>
      </div>

      <div class="site-section cta-big-image" id="about-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-8 text-center">
              <h2
                class="section-title mb-3"
                data-aos="fade-up"
                data-aos-delay=""
              >
                About Us
              </h2>
              <p class="lead" data-aos="fade-up" data-aos-delay="100">
                We learn what matters most by asking you one simple question
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <figure class="circle-bg">
                <img src="images/img_2.jpg" alt="image" class="img-fluid" />
              </figure>
            </div>
            <div
              class="col-lg-5 ml-auto"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <h3 class="text-black mb-4">We Solve Your Financial Problem</h3>

              <p>
                At EOS PREMIER BANK, we're committed to cultivating a diverse
                and inclusive workplace and focusing on partnerships that drive
                change and address critical challenges facing our communities.
                Creating an inclusive environment starts at the top and extends
                to all of our company. Our Board, its committees and our CEO
                play a key role in the oversight of our culture, holding
                management accountable for ethical and professional conduct and
                a commitment to being a diverse and inclusive workplace.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="site-section" id="next">
        <div class="container">
          <div class="row mb-5">
            <div
              class="col-md-4 text-center"
              data-aos="fade-up"
              data-aos-delay=""
            >
              <img
                src="images/flaticon-svg/svg/001-wallet.svg"
                alt="image"
                class="img-fluid w-25 mb-4"
              />
              <h3 class="card-title">Money Savings</h3>
              <p>
                My Savings Plan helps savings customers plan, monitor, and save
                to reach financial goals.
              </p>
            </div>
            <div
              class="col-md-4 text-center"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <img
                src="images/flaticon-svg/svg/004-cart.svg"
                alt="image"
                class="img-fluid w-25 mb-4"
              />
              <h3 class="card-title">Online Shoppings</h3>
              <p>
                Earn 60,000 bonus points when you spend $4,000 in purchases
                within the first 3 months
              </p>
            </div>
            <div
              class="col-md-4 text-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <img
                src="images/flaticon-svg/svg/006-credit-card.svg"
                alt="image"
                class="img-fluid w-25 mb-4"
              />
              <h3 class="card-title">Credit / Debit Cards</h3>
              <p>
                Earn 20,000 bonus points when you spend $1,000 in purchases
                within the first 3 months
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <figure class="circle-bg">
                <img src="images/about_2.jpg" alt="image" class="img-fluid" />
              </figure>
            </div>
            <div
              class="col-lg-5 ml-auto"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="mb-4">
                <h3 class="h3 mb-4 text-black">
                  Banking Solutions Is Our Priority
                </h3>
                <p>
                  Our banking solutions are designed with your financial
                  well-being in mind. We offer a range of innovative products
                  and services that cater to both personal and business needs,
                  ensuring you have the tools and support to achieve your
                  financial goals with ease and confidence.
                </p>
              </div>

              <div class="mb-4">
                <ul class="list-unstyled ul-check success">
                  <li>Comprehensive Online Banking</li>
                  <li>Tailored Financial Products</li>
                  <li>Exceptional Customer Support</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="site-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
              <h2
                class="section-title mb-3"
                data-aos="fade-up"
                data-aos-delay=""
              >
                How It Works
              </h2>
              <p class="lead" data-aos="fade-up" data-aos-delay="100">
                Discover how our seamless process makes managing your finances
                effortless. From application to approval, and delivery, we’ve
                streamlined every step for your convenience.
              </p>
            </div>
          </div>

          <div class="row align-items-lg-center">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <div class="owl-carousel slide-one-item-alt">
                <img
                  src="images/application.jpg"
                  alt="Image"
                  class="img-fluid"
                />
                <img src="images/img_2.jpg" alt="Image" class="img-fluid" />
                <img
                  src="images/Credit_Card.jpg"
                  alt="Image"
                  class="img-fluid"
                />
              </div>
              <div class="custom-direction">
                <a href="#" class="custom-prev"
                  ><span><span class="icon-keyboard_backspace"></span></span></a
                ><a href="#" class="custom-next"
                  ><span><span class="icon-keyboard_backspace"></span></span
                ></a>
              </div>
            </div>
            <div
              class="col-lg-5 ml-auto"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="owl-carousel slide-one-item-alt-text">
                <div>
                  <h2 class="section-title mb-3">01. Online Applications</h2>
                  <p>
                    Start your journey with our simple and secure online
                    application process. Complete the form in minutes, and get
                    real-time updates on your application's status.
                  </p>

                  <p>
                    <a href="#" class="btn btn-primary mr-2 mb-2"
                      >Start Application</a
                    >
                  </p>
                </div>
                <div>
                  <h2 class="section-title mb-3">02. Get an approval</h2>
                  <p>
                    Receive an instant decision on your application. Our
                    advanced system evaluates your information quickly,
                    providing you with immediate feedback and next steps.
                  </p>
                  <p>
                    <a href="#" class="btn btn-primary mr-2 mb-2"
                      >Check Eligibility</a
                    >
                  </p>
                </div>
                <div>
                  <h2 class="section-title mb-3">03. Card delivery</h2>
                  <p>
                    Enjoy the convenience of fast delivery for your new card or
                    account information. We ensure prompt dispatch so you can
                    start using your new services without delay.
                  </p>

                  <p>
                    <a href="#" class="btn btn-primary mr-2 mb-2"
                      >Track Your Delivery</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="site-section border-bottom bg-light"
        id="services-section"
      >
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 text-center" data-aos="fade">
              <h2 class="section-title mb-3">Our Services</h2>
            </div>
          </div>
          <div class="row align-items-stretch">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
              <div class="unit-4">
                <div class="unit-4-icon">
                  <img
                    src="images/flaticon-svg/svg/001-wallet.svg"
                    alt="image"
                    class="img-fluid w-25 mb-4"
                  />
                </div>
                <div>
                  <h3>Business Consulting</h3>
                  <p>
                    Access funds for growth, cash flow or commercial real
                    estate.
                  </p>
                  <p><a href="#">Learn More</a></p>
                </div>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-4 mb-lg-4"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="unit-4">
                <div class="unit-4-icon">
                  <img
                    src="images/flaticon-svg/svg/006-credit-card.svg"
                    alt="image"
                    class="img-fluid w-25 mb-4"
                  />
                </div>
                <div>
                  <h3>Credit Card</h3>
                  <p>
                    Earn 10,000 bonus points when you spend $5000 in purchases
                    within the first 2 months
                  </p>
                  <p><a href="#">Learn More</a></p>
                </div>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-4 mb-lg-4"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="unit-4">
                <div class="unit-4-icon">
                  <img
                    src="images/flaticon-svg/svg/002-rich.svg"
                    alt="image"
                    class="img-fluid w-25 mb-4"
                  />
                </div>
                <div>
                  <h3>Income Monitoring</h3>
                  <p>
                    Discover how to start saving to meet your retirement goals
                  </p>
                  <p><a href="#">Learn More</a></p>
                </div>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-4 mb-4 mb-lg-4"
              data-aos="fade-up"
              data-aos-delay=""
            >
              <div class="unit-4">
                <div class="unit-4-icon">
                  <img
                    src="images/flaticon-svg/svg/003-notes.svg"
                    alt="image"
                    class="img-fluid w-25 mb-4"
                  />
                </div>
                <div>
                  <h3>Insurance Consulting</h3>
                  <p>
                    Our insurance consulting services offer tailored solutions
                    to protect what matters most to you.
                  </p>
                  <p><a href="#">Learn More</a></p>
                </div>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-4 mb-lg-4"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="unit-4">
                <div class="unit-4-icon">
                  <img
                    src="images/flaticon-svg/svg/004-cart.svg"
                    alt="image"
                    class="img-fluid w-25 mb-4"
                  />
                </div>
                <div>
                  <h3>Financial Investment</h3>
                  <p>
                    Our strategic financial investment solutions are designed to
                    help you achieve your financial goals with confidence.
                  </p>
                  <p><a href="#">Learn More</a></p>
                </div>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-4 mb-lg-4"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="unit-4">
                <div class="unit-4-icon">
                  <img
                    src="images/flaticon-svg/svg/005-megaphone.svg"
                    alt="image"
                    class="img-fluid w-25 mb-4"
                  />
                </div>
                <div>
                  <h3>Financial Management</h3>
                  <p>
                    Our comprehensive financial management solutions empower you
                    to take control of your finances and achieve your financial
                    objectives.
                  </p>
                  <p><a href="#">Learn More</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="site-section testimonial-wrap"
        id="testimonials-section"
        data-aos="fade"
      >
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 text-center">
              <h2 class="section-title mb-3">Happy Customers</h2>
            </div>
          </div>
        </div>
        <div class="slide-one-item home-slider owl-carousel">
          <div>
            <div class="testimonial">
              <blockquote class="mb-5">
                <p style="font-size: 18px !important">
                  "I've been using their services for years, and I couldn't be
                  happier. Their expertise and dedication have helped me achieve
                  my financial goals with ease."
                </p>
              </blockquote>

              <figure
                class="mb-4 d-flex align-items-center justify-content-center"
              >
                <div>
                  <img
                    src="images/person_1.jpg"
                    alt="Image"
                    class="w-50 img-fluid mb-3"
                  />
                </div>
                <p>John Smith</p>
              </figure>
            </div>
          </div>
          <div>
            <div class="testimonial">
              <blockquote class="mb-5">
                <p style="font-size: 18px !important">
                  "Their personalized approach and attention to detail have made
                  a significant difference in managing my finances. I highly
                  recommend their services to anyone looking for reliable
                  financial advice."
                </p>
              </blockquote>
              <figure
                class="mb-4 d-flex align-items-center justify-content-center"
              >
                <div>
                  <img
                    src="images/person_2.jpg"
                    alt="Image"
                    class="w-50 img-fluid mb-3"
                  />
                </div>
                <p>Christine Aguilar</p>
              </figure>
            </div>
          </div>

          <div>
            <div class="testimonial">
              <blockquote class="mb-5">
                <p style="font-size: 18px !important">
                  "I've been impressed by their professionalism and commitment
                  to helping me navigate complex financial decisions. Thanks to
                  their guidance, I feel more confident about my financial
                  future."
                </p>
              </blockquote>
              <figure
                class="mb-4 d-flex align-items-center justify-content-center"
              >
                <div>
                  <img
                    src="images/person_3.jpg"
                    alt="Image"
                    class="w-50 img-fluid mb-3"
                  />
                </div>
                <p>Robert Spears</p>
              </figure>
            </div>
          </div>

          <div>
            <div class="testimonial">
              <blockquote class="mb-5">
                <p style="font-size: 18px !important">
                  "Their team goes above and beyond to provide exceptional
                  service and valuable insights. I'm grateful for their
                  expertise in helping me make informed financial decisions."
                </p>
              </blockquote>
              <figure
                class="mb-4 d-flex align-items-center justify-content-center"
              >
                <div>
                  <img
                    src="images/person_1.jpg"
                    alt="Image"
                    class="w-50 img-fluid mb-3"
                  />
                </div>
                <p>Bruce Rogers</p>
              </figure>
            </div>
          </div>
        </div>
      </section>

      <section class="site-section" id="about-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <figure class="circle-bg">
                <img src="images/hero_2.jpg" alt="image" class="img-fluid" />
              </figure>
            </div>
            <div
              class="col-lg-5 ml-auto"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="row">
                <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="">
                  <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4 mb-3">
                      <span class="text-primary flaticon-head"></span>
                    </div>
                    <div>
                      <h3>Bank Loan</h3>
                      <p>
                        Need financial support to achieve your dreams? Our
                        flexible bank loan options offer competitive rates and
                        tailored solutions to suit your needs.
                      </p>

                      <p class="mb-0"><a href="#">Learn More</a></p>
                    </div>
                  </div>
                </div>
                <div
                  class="col-12 mb-4"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4 mb-3">
                      <span class="text-primary flaticon-smartphone"></span>
                    </div>
                    <div>
                      <h3>Banking Consulation</h3>
                      <p>
                        Confused about financial matters? Our expert banking
                        consultants provide personalized guidance to navigate
                        the complexities of banking and finance.
                      </p>
                      <p class="mb-0"><a href="#">Learn More</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="site-section" id="blog-section">
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 text-center" data-aos="fade">
              <h2 class="section-title mb-3">Our Blog</h2>
            </div>
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-4 mb-4 mb-lg-4"
              data-aos="fade-up"
              data-aos-delay=""
            >
              <div class="h-entry">
                <a href="single.ejs">
                  <img src="images/blog-1.jpg" alt="Image" class="img-fluid" />
                </a>
                <h2 class="font-size-regular">
                  <a href="#">Five Steps to Buying for Your Home Loan</a>
                </h2>
                <div class="meta mb-4">
                  Ham Brook <span class="mx-2">&bullet;</span> Jan 18, 2024<span
                    class="mx-2"
                    >&bullet;</span
                  >
                  <a href="#">News</a>
                </div>
                <p>
                  Navigating the home loan process can be daunting. Our step
                  simplifies the journey, from understanding loan types and
                  getting pre-approved to comparing lenders, preparing
                  documentation, and closing the deal.
                </p>
                <p><a href="#">Continue Reading...</a></p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-4 mb-lg-4"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="h-entry">
                <a href="single.ejs">
                  <img src="images/blog-2.jpg" alt="Image" class="img-fluid" />
                </a>
                <h2 class="font-size-regular">
                  <a href="#">How To Save Enough Money To Buy A Home</a>
                </h2>
                <div class="meta mb-4">
                  James Phelps <span class="mx-2">&bullet;</span> Feb 18,
                  2024<span class="mx-2">&bullet;</span> <a href="#">News</a>
                </div>
                <p>
                  Purchasing your dream home is a significant financial goal.
                  Learn practical strategies to build your savings, including
                  budgeting tips, investment options, and reducing unnecessary
                  expenses.
                </p>
                <p><a href="#">Continue Reading...</a></p>
              </div>
            </div>
            <div
              class="col-md-6 col-lg-4 mb-4 mb-lg-4"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="h-entry">
                <a href="single.ejs">
                  <img src="images/blog-3.jpg" alt="Image" class="img-fluid" />
                </a>
                <h2 class="font-size-regular">
                  <a href="#">Linking your finances and your business</a>
                </h2>
                <div class="meta mb-4">
                  Nancy Phelps <span class="mx-2">&bullet;</span> Mar 18,
                  2024<span class="mx-2">&bullet;</span> <a href="#">News</a>
                </div>
                <p>
                  Discover the synergy between personal finances and business
                  growth with our integrated financial solutions. We offer
                  expert strategies to optimize cash flow, manage investments,
                  and enhance profitability.
                </p>
                <p><a href="#">Continue Reading...</a></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="site-section bg-light"
        id="contact-section"
        data-aos="fade"
      >
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 text-center">
              <h2 class="section-title mb-3">Contact Us</h2>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-md-4 text-center">
              <p class="mb-4">
                <span class="icon-room d-block h2 text-primary"></span>
                <span>Florida, USA</span>
              </p>
            </div>
            <div class="col-md-4 text-center">
              <p class="mb-4">
                <span class="icon-phone d-block h2 text-primary"></span>
                <a href="#">+1 130 524 91648</a>
              </p>
            </div>
            <div class="col-md-4 text-center">
              <p class="mb-0">
                <span class="icon-mail_outline d-block h2 text-primary"></span>
                <a href="#">trustairlineexpressdelivery@gmail.com</a>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 mb-5">
              <form
                id="contactForm"
                action="/contactPagePost"
                method="post"
                class="p-5 bg-white"
              >
                <h2 class="h4 text-black mb-5">Contact Form</h2>

                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-black" for="fname">First Name</label>
                    <input
                      type="text"
                      id="fname"
                      name="firstName"
                      class="form-control"
                    />
                    <div id="firstNameError" class="error"></div>
                  </div>
                  <div class="col-md-6">
                    <label class="text-black" for="lname">Last Name</label>
                    <input
                      type="text"
                      id="lname"
                      name="lastName"
                      class="form-control"
                    />
                    <div id="lastNameError" class="error"></div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="text-black" for="email">Email</label>
                    <input
                      type="email"
                      id="email"
                      name="email"
                      class="form-control"
                    />
                    <div id="emailError" class="error"></div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="text-black" for="subject">Subject</label>
                    <input
                      type="text"
                      id="subject"
                      name="subject"
                      class="form-control"
                    />
                    <div id="subjectError" class="error"></div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="text-black" for="message">Message</label>
                    <textarea
                      name="message"
                      id="message"
                      name="message"
                      cols="30"
                      rows="6"
                      maxlength="250"
                      class="form-control"
                      placeholder="Please enter your message..."
                    ></textarea>
                    <div id="messageError" class="error"></div>
                  </div>
                </div>

                <div class="row form-group">
                  <div class="col-md-12">
                    <button
                      class="btn btn-primary py-2 px-4"
                      type="submit"
                      id="sendMessageButton"
                    >
                      Send Message
                    </button>
                  </div>
                </div>
              </form>
              <div id="thankYouMessage" style="display: none">
                Thank you, your message has been sent. A member of our team will
                get back to you shortly.
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include (`partials/footer`); -%>
    </div>
    <!-- .site-wrap -->
  </body>
</html>
