<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=0" />

    <meta name="theme-color" content="#133a69" />

    <link rel="stylesheet" href="css/css-bootstrap.min.css" />
    <link rel="stylesheet" href="css/css-animate.min.css" />
    <link rel="stylesheet" href="css/css-fontawesome.min.css" />
    <link rel="stylesheet" href="css/css-flaticon0421.css" />
    <link rel="stylesheet" href="css/css-icomoon.css" />
    <link rel="stylesheet" href="css/css-magnific-popup.min.css" />
    <link rel="stylesheet" href="css/css-nice-select.css" />
    <link rel="stylesheet" href="css/css-slick.min.css" />
    <link rel="stylesheet" href="css/css-owl.carousel.min.css" />
    <link rel="stylesheet" href="css/css-owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/css-meanmenu.css" />
    <link rel="stylesheet" href="css/css-odometer.min.css" />
    <link rel="stylesheet" href="css/css-style.css" />
    <link rel="stylesheet" href="css/css-responsive.css" />
    <link rel="stylesheet" href="css/css-app-style.css" />
    <link rel="stylesheet" href="css/mystyle.css" />
    <title>EOS Premier Bank - Equity of Service</title>
    <link rel="icon" type="image/png" href="images/favicon.png" />

    <link rel="stylesheet" href="css/app-assets-app-style.css" />
    <link rel="manifest" href="_manifest.json" />

    <link
      rel="stylesheet"
      href="css/dist-leaflet.css"
      integrity="sha384-eS4bw6aEvhCSXWGP85ANR/N8isWKzT7P36NvcuTJGkrj6wsbxLVpXslrNXYHyseD"
      crossorigin="anonymous"
    />
    <script
      src="js/dist-leaflet.js"
      integrity="sha384-wKOriz2x8/bF1D9t6PuKhSpxfhHeVi9huvyuxJrrShSJpi5+rmRIsM90UuWbdAYJ"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="personal-banking">
    <div id="installMain"></div>
    <header class="header-area">
      <div class="top-header desktop-ix">
        <div class="container">
          <div class="top-header-flex">
            <div class="mth-col-lg-9">
              <div class="header-left-content">
                <ul class="web-only">
                  <li class="top-nava nava">eospremierbnk@gmail.com</li>
                  <li class="top-nava-sep"></li>
                  <li class="top-nava"><a href="/"></a></li>
                  <li class="top-nava-sep"></li>
                  <li class="top-nava">
                    <a href="/">+123-456-7890</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="mth-col-lg-3">
              <div class="header-right-content">
                <ul class="hdr-right-ul">
                  <li class="sign-on sign-on-li">
                    <a href="/auth/user/login">
                      <span>Customer Login</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mobile-top-header mobile-ix" style="display: none">
        <div class="mobile-top-header-inner"></div>
      </div>

      <div class="navbar-area">
        <div class="luvion-nav desktop-ix">
          <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
              <a class="navbar-brand" href="/">
                <img
                  src="images/logo.png"
                  style="width: 245px; height: auto"
                  alt="logo"
                />
              </a>
              <div
                class="collapse navbar-collapse mean-menu"
                id="navbarSupportedContent"
              >
                <ul class="navbar-nav">
                  <li class="nav-item web-version checking-nav is-drop">
                    <a href="javascript:void(0)" class="nav-link text-center"
                      ><div class="nav-name-txt">Checking</div>
                      <div class="nav-name-icon">
                        <i class="fas fa-chevron-down"></i></div
                    ></a>
                  </li>

                  <li class="nav-item web-version savings-nav is-drop">
                    <a href="javascript:void(0)" class="nav-link text-center"
                      ><div class="nav-name-txt">Savings</div>
                      <div class="nav-name-icon">
                        <i class="fas fa-chevron-down"></i></div
                    ></a>
                  </li>

                  <li class="nav-item web-version credit-nav is-drop">
                    <a href="javascript:void(0)" class="nav-link text-center"
                      ><div class="nav-name-txt">Credit Cards</div>
                      <div class="nav-name-icon">
                        <i class="fas fa-chevron-down"></i></div
                    ></a>
                  </li>

                  <li class="nav-item web-version loans-nav is-drop">
                    <a href="javascript:void(0)" class="nav-link text-center"
                      ><div class="nav-name-txt">Home Loans</div>
                      <div class="nav-name-icon">
                        <i class="fas fa-chevron-down"></i></div
                    ></a>
                  </li>

                  <li class="nav-item web-version invest-nav is-drop">
                    <a href="javascript:void(0)" class="nav-link text-center"
                      ><div class="nav-name-txt">Investing</div>
                      <div class="nav-name-icon">
                        <i class="fas fa-chevron-down"></i></div
                    ></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>

        <div class="mobile-header mobile-ix" style="display: none">
          <div class="mobile-header-inner">
            <div class="mobile-logo-col">
              <div class="mobile-logo-content">
                <a class="m-navbar-brand" href="/">
                  <img
                    src="images/logo.png"
                    style="width: 150px; height: auto"
                    alt="logo"
                  />
                </a>
              </div>
            </div>

            <div class="mobile-nav-col">
              <div class="mobile-navigation">
                <div class="m-navi-item">
                  <a href="#" class="m-navi-item-link">
                    <span class="m-navi-item-link-icon">
                      <svg
                        version="1.0"
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewbox="0 0 512.000000 512.000000"
                        preserveaspectratio="xMidYMid meet"
                      >
                        <g
                          transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                          fill="currentColor"
                          stroke="none"
                        >
                          <path
                            d="M3026 4668 c-36 -31 -51 -123 -41 -252 7 -93 8 -97 39 -121 l32 -24 599 -3 c588 -3 601 -4 666 -26 168 -56 305 -197 351 -361 17 -62 18 -135 18 -1321 0 -1186 -1 -1259 -18 -1321 -46 -164 -183 -305 -351 -361 -64 -22 -82 -22 -671 -28 -333 -3 -611 -9 -618 -13 -38 -25 -58 -138 -47 -268 6 -71 11 -83 37 -110 l30 -30 642 4 c701 4 679 2 834 66 148 61 319 199 418 337 57 79 118 209 146 309 l22 80 4 1285 c3 1379 3 1387 -47 1533 -85 247 -303 479 -543 578 -155 64 -133 62 -834 66 l-642 4 -26 -23z"
                          ></path>
                          <path
                            d="M1874 4581 c-50 -13 -103 -50 -132 -94 l-27 -41 -5 -515 -5 -516 -780 -5 c-709 -5 -783 -7 -811 -22 -44 -24 -91 -81 -103 -125 -15 -52 -15 -1354 0 -1406 12 -44 59 -101 103 -125 28 -15 102 -17 811 -22 l780 -5 5 -516 5 -515 27 -42 c62 -92 188 -124 279 -69 57 33 1881 1861 1905 1907 10 21 17 57 17 90 0 33 -7 69 -17 90 -23 45 -1848 1874 -1901 1905 -46 27 -106 37 -151 26z"
                          ></path>
                        </g>
                      </svg>
                    </span>
                    <span class="m-navi-item-link-txt">Sign In</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mobile-menu-background"></div>
      </div>
    </header>
    <div class="slideshow-container">
      <div class="mySlides s-fade">
        <img
          src="images/slide1.jpg"
          class="master-slider-img"
          style="width: 100%"
        />

        <div class="Slider-caption-container m-is-hidden">
          <div class="container">
            <div class="sl-caption-content sl-index-cover">
              <div class="row">
                <div class="col-4">
                  <div class="sl-side-holder"></div>
                </div>

                <div class="col-8"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mySlides s-fade" style="display: none">
        <img
          src="images/slide2.jpg"
          class="master-slider-img"
          style="width: 100%"
        />

        <div class="Slider-caption-container m-is-hidden">
          <div class="container">
            <div class="sl-caption-content sl-index-cover">
              <div class="row">
                <div class="col-4">
                  <div class="sl-side-holder"></div>
                </div>

                <div class="col-8"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="Slider-caption-container cover-action-form">
        <div class="container">
          <div class="sl-caption-content sl-index-cover m-is-hidden">
            <div class="row">
              <div class="col-4">
                <div class="cover-log-form-wrapper">
                  <div class="cover-log-form">
                    <div class="cover-log-form-inner"></div>
                  </div>
                </div>
              </div>

              <div class="col-8">
                <div class="mt-cover-caption">
                  <div class="mt-cover-caption-inner">
                    <div class="web-sl-cation capt-is-flex-end">
                      <div class="web-sl-cation-inner">
                        <div class="web-sl-cation-row">
                          <div class="web-sl-cation-box">
                            <div class="web-sl-cation-box-inner">
                              <div class="web-sl-cation-box-content">
                                <span class="web-sl-ctn-box-cns-txt"
                                  >- Business Checking</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="web-sl-cation-row">
                          <div class="web-sl-cation-box">
                            <div class="web-sl-cation-box-inner">
                              <div class="web-sl-cation-box-content">
                                <span class="web-sl-ctn-box-cns-txt"
                                  >- Savings Account</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="web-sl-cation-row">
                          <div class="web-sl-cation-box">
                            <div class="web-sl-cation-box-inner">
                              <div class="web-sl-cation-box-content">
                                <span class="web-sl-ctn-box-cns-txt"
                                  >- Credit Cards</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="web-sl-cation-row">
                          <div class="web-sl-cation-box">
                            <div class="web-sl-cation-box-inner">
                              <div class="web-sl-cation-box-content">
                                <span class="web-sl-ctn-box-cns-txt"
                                  >- Home Loans</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mobile-sl-cation desk-is-hidden">
            <div class="mobile-sl-cation-inner">
              <div class="m-sl-cation-row">
                <div class="m-sl-cation-box">
                  <div class="m-sl-cation-box-inner">
                    <div class="m-sl-cation-box-content">
                      <span class="m-sl-ctn-box-cns-txt"
                        >- Business Checking</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="m-sl-cation-row">
                <div class="m-sl-cation-box">
                  <div class="m-sl-cation-box-inner">
                    <div class="m-sl-cation-box-content">
                      <span class="m-sl-ctn-box-cns-txt"
                        >- Savings Account</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="m-sl-cation-row">
                <div class="m-sl-cation-box">
                  <div class="m-sl-cation-box-inner">
                    <div class="m-sl-cation-box-content">
                      <span class="m-sl-ctn-box-cns-txt">- Credit Cards</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="m-sl-cation-row">
                <div class="m-sl-cation-box">
                  <div class="m-sl-cation-box-inner">
                    <div class="m-sl-cation-box-content">
                      <span class="m-sl-ctn-box-cns-txt">- Home Loans</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="featured-boxes-area">
      <div class="container">
        <div class="featured-boxes-inner">
          <div class="row m-0">
            <div class="col-lg-3 col-sm-6 col-md-6 p-0">
              <div class="single-featured-box">
                <div class="featured-box-image">
                  <img
                    src="images/icons-piggy-bank-small.png"
                    class="featured-box-img"
                  />
                </div>
                <h3>Better Savings</h3>
                <p>
                  What is the best savings account to save money? Our easy
                  savings account gives you access.
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 p-0">
              <div class="single-featured-box">
                <div class="featured-box-image">
                  <img
                    src="images/icons-app-wallet.png"
                    class="featured-box-img"
                  />
                </div>
                <h3>Fully Encrypted</h3>
                <p>
                  Fully encrypted virtual wallet and mobile banking apps for
                  easy transactions.
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 p-0">
              <div class="single-featured-box">
                <div class="featured-box-image">
                  <img
                    src="images/icons-credit-card.png"
                    class="featured-box-img"
                  />
                </div>
                <h3>Credit/ Debit Cards</h3>
                <p>
                  With your debit cards, you have complete access to your money
                  from any at anytime.
                </p>
              </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-md-6 p-0">
              <div class="single-featured-box">
                <div class="featured-box-image">
                  <img
                    src="images/icons-security-now.png"
                    class="featured-box-img"
                  />
                </div>
                <h3>Secure and Easy</h3>
                <p>
                  Easy online and mobile banking expirience, secure for all our
                  digital platform.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-tab-container mt-bp-40">
          <div class="mt-tab-body">
            <div class="mt-tab-body-content mt-xtab-one">
              <div class="row gx-5">
                <div class="col-lg-6">
                  <div class="about-img-wrap">
                    <img src="images/sec2.png" class="about-img" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="about-content mt-go-right">
                    <div class="content-title style1">
                      <h2>
                        The Better Way To Save &amp; Invest Online Banking
                      </h2>
                      <p>
                        A way to carry your credit and debit card information in
                        a secure digital form on your mobile device (smartphone,
                        smartwatch, tablet). Instead of using your physical
                        plastic card to make purchases, a digital wallet allows
                        you to pay in stores, in apps, or online.
                      </p>
                    </div>
                    <ul
                      class="content-feature-list style1 list-style smart-background-list"
                    >
                      <li>
                        Cards that work all across the world
                        <span><i class="flaticon-tick"></i></span>
                      </li>
                      <li>
                        Highest Returns on your investments<span
                          ><i class="flaticon-tick"></i
                        ></span>
                      </li>
                      <li>
                        No ATM fees. No minimum balance<span
                          ><i class="flaticon-tick"></i
                        ></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="conner-box-section has-m-config mt-bp-40">
          <div class="conner-box-section-inner">
            <div class="mt-center-content">
              <div class="sec-title">
                <h2 class="title mb-0">Our Banking Services</h2>
              </div>

              <div>
                Discover the tools and services we offer to help your business
                grow.
              </div>
            </div>

            <div class="row mt-40">
              <div class="col-4">
                <div class="case-block">
                  <div class="mt-noflex">
                    <div class="case-box-imgs">
                      <img src="images/tab1.jpg" alt="case" />
                    </div>
                    <div class="case-box-desc">
                      <div class="case-block-inner">
                        <h4>Treasury Management</h4>
                        <p>
                          Innovative treasury management solutions help you
                          accelerate receivables, optimize payables &amp;
                          maximize performance.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="case-block">
                  <div class="mt-noflex">
                    <div class="case-box-imgs">
                      <img src="images/tab2.jpg" alt="case" />
                    </div>
                    <div class="case-box-desc">
                      <div class="case-block-inner">
                        <h4>Institutional Asset Management</h4>
                        <p>
                          Solutions for retirement planning, endowments,
                          foundations, and other institutional investors and
                          more..
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="case-block">
                  <div class="mt-noflex">
                    <div class="case-box-imgs">
                      <img src="images/tab3.jpg" alt="case" />
                    </div>
                    <div class="case-box-desc">
                      <div class="case-block-inner">
                        <h4>Advisory Businesses</h4>
                        <p>
                          Discover and execute the right strategic options
                          through these OceanFirst-IB business strategic
                          advisory.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="services-area mt-rippo-service">
      <div id="rs-about" class="rs-about style1 bg1 md-pt-80">
        <div class="container">
          <div class="row y-bottom">
            <div
              class="col-lg-6 md-pt-42 md-pb-72 mt-has-rt-border m-is-hidden"
            >
              <div class="sec-title mb-30 md-mb-42">
                <h2 class="y-bott-istile title mb-0">
                  Financial Literacy, What It Is and Why It’s So Important
                </h2>
              </div>
              <div class="services-part mb-30">
                <div class="services-icon">
                  <img src="images/img-one.png" alt="image" />
                </div>
                <div class="services-text">
                  <h4 class="title">The ability to identify market-entry</h4>
                  <div class="desc">
                    There are a variety of ways in which a company can enter a
                    foreign market.
                  </div>
                </div>
              </div>
              <div class="services-part">
                <div class="services-icon">
                  <img src="images/img-two.png" alt="image" />
                </div>
                <div class="services-text">
                  <h4 class="title">Ensure to increase of expected sales</h4>
                  <div class="desc">
                    Direct exporting is selling directly into the market you
                    have chosen using in the first instance you own resources.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 padding-0">
              <img src="images/sec4.png" class="mt-ripp-img" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="services-area has-m-config mt-tp-40 mt-b4-footer">
      <div class="container">
        <div class="mt-center-content m-is-hidden">
          <div class="sec-title">
            <h2 class="title mb-0">Guidance To Help You Reach Your Goals</h2>
          </div>

          <div>
            Accounts and services that help make it easier to manage your money.
          </div>
        </div>

        <div class="row mt-40">
          <div class="col-4">
            <div class="case-block">
              <div class="mt-noflex">
                <div class="case-box-imgs">
                  <img src="images/bas1.jpg" alt="case" />
                </div>
                <div class="case-box-desc">
                  <div class="case-block-inner">
                    <h4>Digital Wallets</h4>
                    <p>
                      You can also access any ATM when you add your
                      OceanFirst-IB Debit or SmartPay Card to your digital
                      wallet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="case-block">
              <div class="mt-noflex">
                <div class="case-box-imgs">
                  <img src="images/bas2.png" alt="case" />
                </div>
                <div class="case-box-desc">
                  <div class="case-block-inner">
                    <h4>Introducing VirtualWealth</h4>
                    <p>
                      Thanks to advances in technology, saving and investing are
                      more convenient than ever, A simple digital investing
                      service..
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="case-block">
              <div class="mt-noflex">
                <div class="case-box-imgs">
                  <img src="images/bas3.jpg" alt="case" />
                </div>
                <div class="case-box-desc">
                  <div class="case-block-inner">
                    <h4>Looking At The Big Picture</h4>
                    <p>
                      When you come across ads, or even some articles, about
                      Financial Planning, it can seem like it’s all about
                      investments.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="go-top"><i class="fas fa-arrow-up"></i></div>

    <footer class="footer" id="footer">
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="copyright-info">
                <span>Copyright ©2024 EOS Premier Bank</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/js-jquery.min.js"></script>
    <script src="js/js-bootstrap.bundle.min.js"></script>
    <script src="js/js-meanmenu.js"></script>
    <script src="js/js-slick.min.js"></script>
    <script src="js/js-magnific-popup.min.js"></script>
    <script src="js/js-appear.min.js"></script>
    <script src="js/js-odometer.min.js"></script>
    <script src="js/js-owl.carousel.min.js"></script>
    <script src="js/js-parallax.min.js"></script>
    <script src="js/js-wow.min.js"></script>
    <script src="js/js-form-validator.min.js"></script>
    <script src="js/js-contact-form-script.js"></script>
    <script src="js/js-main.js"></script>

    <script>
      var slideIndex = 0;

      showSlides(slideIndex);

      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName('mySlides');
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = 'none';
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        slides[slideIndex - 1].style.display = 'block';
        setTimeout(showSlides, 10000); // Change image every specified seconds
      }
    </script>
  </body>
</html>
