<!-- Footer Start -->
<div class="container-fluid pt-4 px-4">
  <div class="bg-light rounded-top p-4">
    <div class="row">
      <div class="col-12 col-sm-6 text-center text-sm-start">
        Copyright &copy; <a href="/">Equity Of Service Premier Bank</a>
        <script>
          document.write(new Date().getFullYear());
        </script>
        All Rights Reserved.
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../lib/chart/chart.min.js"></script>
<script src="../lib/easing/easing.min.js"></script>
<script src="../lib/waypoints/waypoints.min.js"></script>
<script src="../lib/owlcarousel/owl.carousel.min.js"></script>
<script src="../lib/tempusdominus/js/moment.min.js"></script>
<script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="../js/adminJs/main.js"></script>
<script src="../js/adminJs/mains.js"></script>

<!-- Contact Javascript File -->
<script src="../mail/updateProfile.js"></script>

<!-- Contact Javascript File -->
<!-- <script src="../mail/signout.js"></script>
<script src="../mail/uploadImage.js"></script>
<script src="../mail/updateStatus.js"></script>
<script src="../mail/updateProfile.js"></script>
<script src="../mail/productCrud.js"></script> -->

<!-- Template Javascript -->
<!-- <script src="../js/adminJs/mains.js"></script>
<script src="../js/adminJs/multipage.js"></script>
<script src="../js/adminJs/toast.js"></script>
<script src="../js/adminJs/numberCounterScript.js"></script>
<script src="../js/adminJs/searchFilter.js"></script> -->
