<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>EOS Premier Bank</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="EOS Premier Bank" name="keywords" />
    <meta content="EOS Premier Bank" name="description" />

    <!-- Favicon -->
    <link href="../images/logo.jpg" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="../lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../css/adminCss/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="../css/adminCss/style.css" rel="stylesheet" />
    <link href="../css/adminCss/adminform.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <!-- start header  -->
      <%- include (`../partials/adminHeader`); -%>
      <!-- end header -->

      <!-- Content Start -->
      <div class="content">
        <!-- Navbar revenue Start -->
        <%- include (`../partials/adminNav`); -%>
        <!-- Navbar and revenue End -->

        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-light text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h6 class="mb-0">Add New Statement</h6>
            </div>
            <div class="container">
              <form
                id="addNewUser"
                data-url="/admin/addNewStatementPost"
                method="post"
              >
                <div class="grid">
                  <div class="form-group a">
                    <label for="name">Amount</label>
                    <input name="amount" class="centerText" type="text" />
                    <div id="amountError" class="error"></div>
                  </div>

                  <div class="form-group b">
                    <label for="first-name">Type</label>
                    <input
                      name="type"
                      class="centerText"
                      type="text"
                      placeholder="Credit or debit"
                    />
                    <div id="typeError" class="error"></div>
                  </div>

                  <div class="form-group email-group">
                    <label for="email">PaidIn</label>
                    <input name="paidIn" class="centerText" type="paidIn" />
                    <div id="paidInError" class="error"></div>
                  </div>

                  <div class="form-group b">
                    <label for="first-name">PaidOut</label>
                    <input
                      name="paidOut"
                      class="centerText"
                      type="text"
                      required
                    />
                    <div id="paidOutError" class="error"></div>
                  </div>

                  <div class="form-group b">
                    <label for="first-name">Description</label>
                    <textarea
                      name="description"
                      maxlength="250"
                      cols="2"
                      rows="4"
                    ></textarea>
                    <div id="descriptionError" class="error"></div>
                  </div>
                </div>

                <div class="button-container">
                  <button id="submit_btn" class="btn btn-primary" name="submit">
                    Add Statement
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Recent Sales End -->

        <!-- Footer Start -->
        <%- include (`../partials/adminFooter`); -%>
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>
  </body>
</html>
